body {
    font-family: Arial;
    text-align: center;
}

button {
    padding: 15px;
    font-size: 18px;
    margin: 10px;
}

.mesa {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

@keyframes piscar {
    0% { background-color: #ffe5e5; }
    50% { background-color: #ffb3b3; }
    100% { background-color: #ffe5e5; }
}

.mesa.chamando {
    border: 3px solid red;
    animation: piscar 1s infinite;
}
